// Make base text a bit larger
$font-size-base: 18px;

// Make the sidebar narrower (default is ~264px)
$nav-width: 120px;

// Reduce header/site title area a little
$header-height: 22px;


.site-title {
  font-size: 18px !important;
  line-height: 1.2 !important;
  padding-top: 0.6rem !important;
  padding-bottom: 0.6rem !important;
}


$font-size-base: 19px;
h1 { font-size: 2.2rem; }
h2 { font-size: 1.6rem; }

